<div class="menu-bar">
  <div class="menu-bar__logo">
    <img src="./assets/ps-logo.png" alt="Alternativo" />
  </div>
  <div class="menu-bar__item">
    <ul>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/gabrielcampelo/">
          <img src="./assets/LI-In-Bug.png" alt="" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/campelogabriel">
          <img src="./assets/github-mark.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
